{% extends "base.html" %}
{% block body %}


<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <h2>name:</h2> <input id="name">
        <h2>exec_code:</h2>
        <textarea  style="width:100%; height:90%;" id="exec_code"></textarea>
        <h2>eval_code:</h2>
        <textarea  style="width:100%; height:90%;" id="eval_code"></textarea>
        <BUTTON name="btn" onclick="send()">send</BUTTON>
    </div>
</div>
<script type="text/javascript">
function init() {
    var ROOT = 'http://localhost:8080/_ah/api';
    gapi.client.load('bigdatalab', 'v1', function() {
        gapi.client.bigdatalab.gpcode.list({
        }).execute(function(resp) {
            var data = resp;
        });
    }, ROOT);
}j
</script>

{% endblock %}
